* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: indianred;
    text-align: center;
    font-size: larger;
    font-style: bold;
    color:aliceblue;
    width: 100%;

}

.search-container {
    content: center;
    margin: 20px;
    padding: 30px;
}

.search-bar {
    content: center;
    border: 2px solid;
    border-color: black;
    margin: 10px;
    padding: 20px;
}

button {
    background-color: indianred;
    margin: 5px;
}

.current-weather {
    content: center;
    border: 2px solid;
    border-color: black;
    margin: 10px;
    padding: 20px;
}

.other-row {
    content: center;
    border: 2px solid;
    border-color: black;
    margin: 10px;
    padding: 20px;
}

.past-city {
    border-top: 2px solid;
    border-color: black;
}
.history-1, .history-2, .history-3,
.history-4 {
    content: center;
    margin: 10px;
    padding: 20px;
    width: 80%;

}

.btn {
    background-color: indianred;
}
