* {
    margin: 0;
    padding: 0;
}

.hero  {
    background-color: indianred;
    text-align: center;
    font-size: larger;
    font-style: bold;
    color:aliceblue

}

.search-container {
    border: 3px solid;
    border-color: indianred;
    
}